<nav class="altum-nav" aria-label="Main navigation">
  <a href="{{ routes.root_url }}">Home</a>
  <a href="{{ routes.all_products_collection_url }}">All Products</a>
  <a href="/collections/candles">Candles</a>
  <a href="/collections/apparel">Apparel</a>
  <a href="/collections/gear">Gear</a>
  <a href="/collections/racks">Racks</a>
  <a href="/collections/art">Art</a>
  <a href="/pages/about">About</a>
</nav>
